.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrapper__title{
    margin: 20px;
    text-align: center;
}

.wrapper__meetings_table{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 50px;
}

.actions_bar {
    margin: 20px;
    display: flex;
    justify-content: space-around;
}


.meetings_table {
    font-size: 30px;
    border-collapse: collapse;
    padding: 20px;
    background-color: ghostwhite;
    border: 1px black solid;
}

table{
    border-collapse: collapse;
}


tr {
    border: 3px black solid;
}

tr:first-child{
    font-size: 20px;
}

td {
    text-align: center;
    border: 3px black solid;
    max-width: 350px;
    min-height: 35px;
    padding: 5px;
}

th {
    border: 3px black solid;
    font-size: 20px;
}


tr>td:first-child {
    font-size: 20px;
}

/* tbody > tr:nth-child(2n){
    background-color: rgb(180, 180, 180);
} */

tbody > tr:hover{
    background-color: #3d95ffaf;
}

.create_btn{
    /* color: #6bdfa1;
    border: 1px solid #6bdfa1; */
    color: #fff;
    background-color: #0e71eb;
    font-size: 20px;
    border: 1px solid #0e71eb;
    border-radius: 50%;
    /* background-color: #fff; */
}

.create_btn:hover{
    cursor: pointer;
    box-shadow: 0px 0px 5px #0e71eb;
}

.actions_button {
    color: white;
    background-color: #0e71eb ;
    border: 0px;
    border-radius: 10px;
    width: 200px;
    height: 50px;
}

.actions_button:hover{
    background-color: #0c75f5;
    cursor: pointer;
}

.actions_button:active{
    background-color: #0c5cbe;
}


/* Модальное окно формы создания конференции */
/* .modals{
    display: none;
} */

.overlay{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    align-items: center;
    justify-content: center;
}

.overlayShow{
    display: flex;
}

.form_creating_meeting{
    background-color: #fff;
    border-radius: 10px;
    width: 400px;
    height: 600px;
    display: grid;
    /* grid-template-columns: 100%;
    grid-template-rows: 25% 25% 25% 25%; */
}

form {
    display: grid;
    grid-template-columns: 100%;
    padding: 30px;
}

label{
    display: block;
}

.meeting_cancel_creation{
    display: inline-block;
}