.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrapper__title{
    margin: 20px;
    text-align: center;
}

.wrapper__meetings_table{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 50px;
}

.actions_bar {
    margin: 20px;
    display: flex;
    justify-content: space-around;
}


.meetings_table {
    font-size: 30px;
    border-collapse: collapse;
    padding: 20px;
    background-color: ghostwhite;
    border: 1px black solid;
}

table{
    border-collapse: collapse;
}


tr {
    border: 3px black solid;
}

td {
    text-align: center;
    border: 3px black solid;
}

th {
    border: 3px black solid;
}

tbody > tr:nth-child(2n){
    background-color: rgb(180, 180, 180);
}

tbody > tr:hover{
    background-color: aquamarine;
}

button {
    color: white;
    background-color: #0e71eb ;
    border: 0px;
    border-radius: 10px;
    width: 200px;
    height: 50px;
}

button:hover{
    background-color: #0c75f5;
}

button:active{
    background-color: #0c5cbe;
}