{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zoom Manager</title>
    <link type="text/css" rel="stylesheet" href="{% static 'meeting_manager/css/style.css' %}">
</head>

<body>
    <div class="wrapper">
        <h1 class="wrapper__title">
            Zoom Manager v0.1
        </h1>
        <div class="wrapper__meetings_table">
            
            <div class="actions_bar">    
                <div class="actions_button">
                    <button id="refreshTabelButton">Refresh Token</button>
                </div>

                <div class="actions_button">
                    <button id="getAllMettingsButton">Get Meetings</button>
                </div>

                <div class="actions_button">
                    <button id="getUsersButton">Get Users</button>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'meeting_manager/js/main.js' %}"></script>
</body>
</html>